h1, h2, h3, h4, h5, h6 {
	font-family: Poppins;
}

body {
	background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

#title {
	text-align: center;
}

#story_book {
	color: white;
	padding: 1em;
	background-color: #696969;
	overflow: scroll;
}

#resource_header {
	display: flex;
	justify-content: space-between;
}

.generators {
	display: flex;
	justify-content: center;
}

.generator-box {
	width: 25em;
	margin: 1em;
	text-align: center;
	background-color: #dc143c;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.generator-header, .generator-footer {
	padding: 1em;
	display: flex;
	justify-content: space-between;
}

.generator-description {
	padding: 1em;
	background-color: #ffffff;
}

#increment_button,.generator-button {
    padding: 1em;
    color: #333435;
    cursor: pointer;
    font-weight: 700;
    border-radius: 1em;
    font-family: Poppins;
    background-color: #7fff00;
    border: #7fff00;
}

#increment_button:hover, .generator-button:hover {
	background-color: #fff;
}